// Card style modifiers

.proposal-card {
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proposal-card .ant-card-actions {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.proposal-card .ant-card-body {
  padding: 10px 6px 0px;
}

.proposal-content-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.proposal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  & > * {
    text-align: center;
  }
}

.proposal-column {
  width: 50%;
  box-sizing: border-box;
}

// Content style modifiers

.proposal-status {
  text-align: center;
}

.proposal-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proposal-votes-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

// Switch style modifiers

.switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin: 0 auto;
  border-radius: 16px;
  width: 120px; /* Reduce the width */
  background-color: #eee;
}

.option-label {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding: 6px 6px; /* Increase the horizontal padding */
  border-radius: 12px;
  margin: 0px 6px;
}

.selected-a {
  background-color: #f35b04;
  color: #fff;
  box-shadow: 0px 0px 10px #f35b04;
}

.selected-b {
  background-color: #fff;
  box-shadow: 0px 0px 10px #0081a7;
  background-color: #0081a7;
}

.not-selected-a {
  color: #f35b04;
}

.not-selected-b {
  color: #0081a7;
}

// Button style modifiers

.ant-btn {
  /* background-color: #0081a7; */
  color: #ffffff !important;
  border: none;
  font-weight: bold;
  height: 50px;
  width: 75%;
  max-width: 300px;
}

.ant-btn:hover {
  background-color: #29bf12;
  color: #ffffff !important;
}

.ant-btn:focus,
.ant-btn:hover,
.ant-btn:active,
.ant-btn.active {
  border-color: transparent;
  color: #ffffff !important;
}

.vote-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  font-weight: bold;
  height: 40px;
  text-align: center;
  padding: 0;
  border-radius: 4px;
  color: #ffffff !important;
}

.vote-button:hover {
  mix-blend-mode: overlay;
}

.vote-label {
  text-align: center;
  font-weight: bold;
}

.vote-count {
  text-align: center;
  font-size: 1.2rem;
}
